# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
env/
venv/

# Ignore database files
*.sqlite3

# Ignore media uploads (optional)
media/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
logs/
*.log
